<%= form_for [:admin, @post] do |f| %>
	
<%= f.fields_for :post_metum do |p_form| %>
	<div class="form_control">
        <%= p_form.label :title %>
        <%= p_form.text_field :title %>
    </div>

	<div class="form_control">
        <%= p_form.label :summary %>
        <%= p_form.text_field :summary %>
    </div>

	<div class="form_control">
        <%= p_form.label :body %>
        <%= p_form.text_field :body %>
	</div>

	<div class="form_control">
        <%= p_form.label :lang_id %>
        <%= p_form.text_field :lang_id %>
    </div>
    <div class="form_control">
		<%= p_form.submit 'Save' %>

    <% end %>

<% end %>
