<%= form_for @metapost do |f| %>
	

	<div class="form_control">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

	<div class="form_control">
        <%= f.label :summary %>
        <%= f.text_field :summary %>
    </div>

	<div class="form_control">
        <%= f.label :body %>
        <%= f.text_field :body %>
	</div>

	<div class="form_control">
        <%= f.label :lang_id %>
        <%= f.text_field :lang_id %>
    </div>
    <div class="form_control">
		<%= f.submit 'Save' %>



<% end %>